[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
faker = "*"
gunicorn = "*"
flask-jwt-extended = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12" 
